# Ignorar la carpeta build
/build/

# Ignorar la carpeta BasesDeDatos
/BaseDeDatos/

# Ignorar la carpeta nbproject (configuraciones de NetBeans)
/nbproject/

#Ignora el archivo build.xml
/build.xml

#Ignora el directorio dist
/dist/

#Ignora el directorio test
/test/
