# Ignorar la carpeta build
/build/

# Ignorar la carpeta BasesDeDatos
/BaseDeDatos/

# Ignorar la carpeta nbproject (configuraciones de NetBeans)
/nbproject/

#Ignora el directorio dist
/dist/

#Ignora el directorio test
/test/

#Ignora el archivo manifest.mf
/manifest.mf

#Ignorar build.xml
/build.xml

#Ignorar configuraciones
/config/

#Ignorar csv y pdf
prueba*.pdf
*.csv
